/*color scheme*/
:root{
    --dark: #14191f;
}

/*Link styles*/
a{
    color:rgb(255, 255, 255);
    
}

/*Global styles*/
* {
    box-sizing: border-box;
}

body{
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    line-height: 2;
    margin: 5px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
   background-image: url(images/ivana-cajina-asuyh.jpg);
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   min-height: 100vh;
   text-shadow: 1px 1px 2px rgb(109, 90, 255), 0 0 1em rgb(215, 215, 215), 0 0 0.2em rgb(67, 55, 91);

}

header h1{
    display: flex;
    font-size: 50px;
    justify-content:center;
    padding-top: 200px;
}

header p{
    display: flex;
    font-size: 20px;
    justify-content:center;
}


header nav {
    display: flex;
    font-size: 30px;
    justify-content: space-evenly;
    padding-top: 200px;
}

.shadow:hover{
    text-shadow: 1px 1px 2px rgb(25, 0, 255), 0 0 1em rgb(76, 36, 196), 0 0 0.2em rgb(221, 0, 255);
}

h2{
    font-size: 35px;
    padding-left: 16px;
}

h3{
    display: flex;
    font-size: 22px;
    padding-left: 20px;
    padding-top: 30px;
}

hgroup{
    display: flex;
    padding: 20px;
    flex-direction: row;
    line-height: 2;
    border: 2px solid black;
}

hgroup img{
    display: flex;
    width: 50%;
    height: 50%;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

hgroup p{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

hgroup:hover{
    transition: all 0.5s ease-in-out;
    box-shadow: inset 0px 0px 8px purple;
    background-image: url(images/daniel-lepik.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px rgb(109, 90, 255), 0 0 1em rgb(215, 215, 215), 0 0 0.2em rgb(67, 55, 91);
}

hgroup:hover img:hover{
    zoom: 1.3;
}

section{
    padding-bottom: 30px;
}

footer{
    display: flex
}

footer a{
    display: flex;
    justify-content: end;
    padding-left: 60px;
    padding-top: 22px;
}

/*Classes*/
.section-1{
    padding-bottom: 50px;
    background-image: url(images/ivana-cajina-asuyh.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment:fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 2px rgb(109, 90, 255), 0 0 1em rgb(215, 215, 215), 0 0 0.2em rgb(67, 55, 91);
}

.section-2{
    background-image: url(images/dynamic-wang-g.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.section-3{
    background-image: url(images/ivana-cajina-asuyh.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 2px rgb(109, 90, 255), 0 0 1em rgb(215, 215, 215), 0 0 0.2em rgb(67, 55, 91);

}

/*media query*/
@media screen and (max-width: 700px) {
    hgroup {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    hgroup img{
        width: 100%;
        height: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        line-height: 3;
    }

    footer a{
        padding: 0;
    }
}