* {
    background-color: rgb(15, 8, 36);
    color: aliceblue;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hide {
    display: none;
}

/* NAV */
    .nav-link {
        color: aliceblue;
    }

    .nav-link:hover {
        text-shadow: 1px 1px 2px rgb(109, 90, 255), 0 0 1em rgb(215, 215, 215), 0 0 0.2em rgb(255, 255, 255);
        color: aliceblue;
        transition: all 0.3s ease-in-out;
    }

    .nav-link:active {
        color: rgb(173, 197, 219);
        
    }

    .dropdown-item {
        background-color: rgb(68, 62, 84);
        color: aliceblue;
    }

    .dropdown-menu {
        background-color: rgb(68, 62, 84);
    }

    .dropdown-item:hover {
        background-color: rgb(68, 62, 84);
        text-shadow: 1px 1px 2px rgb(109, 90, 255), 0 0 1em rgb(215, 215, 215), 0 0 0.2em rgb(255, 255, 255);
        color: aliceblue;
        transition: all 0.3s ease-in-out;
    }

/* HOME SECTION */
    .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 20%;
    }

    #home-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10%;
    }

    #profile-image {
        border-radius: 50%;
        height: 50vh;
        width: 50vh;
    }

    #profile-desc {
        font-size: 2em

    }

    #intro {
        font-size: larger;
    }

    #desc {
        font-size: x-large;
    }

/**/

/* PROJECTS */
    img {
        width: 80vh;
        max-width: 100%;
        height: auto;
        padding: 5%;
    }

    .project {
        border-style: solid;
        border-width: 1px;
        border-color: aliceblue;
        margin-top: 10%;
        margin-bottom: 5%;
        padding: 5%;
        filter: blur(2px);
    }

    .project:active {
        filter: none;
        transition: all 0.5s ease-in-out;
    }

    .project:hover {
        filter: none;
        transition: all 0.5s ease-in-out;
        transform: scale(1.1);
    }

    .sidebar {
        margin-top: 10%;
    }

    .p-1 {
        color: aliceblue;
    }

    .p-1:active {
        text-shadow: 1px 1px 2px rgb(109, 90, 255), 0 0 1em rgb(215, 215, 215), 0 0 0.2em rgb(255, 255, 255);
        color: aliceblue;
        transition: all 0.3s ease-in-out;
    }

    .p-1:hover {
        text-shadow: 1px 1px 2px rgb(109, 90, 255), 0 0 1em rgb(215, 215, 215), 0 0 0.2em rgb(255, 255, 255);
        color: aliceblue;
        transition: all 0.3s ease-in-out;
    }

/**/



/* mobile */
    @media screen and (max-width: 800px) {
        #home-section {
            flex-direction: column;
            align-items: center;
        }

        .sticky{
            display: none;
        }
        
        .project {
            padding-left: 10%;
            margin-left: 10%;
        }

        .col-6 {
            width: 90%;
        }
    }
/**/